@mixin desktop {
    @media only screen and (min-width: 1024px) {
        @content;
    }
}
@mixin desktop-xl {
    @media only screen and (min-width: 1366px) {
        @content;
    }
}

$black: #000;
$white: #fff;
$grey: #828282;
$light-grey: #f6f6f0;
$row-bg: #e6e6e0;
$light-grey-text-color: #b8b8b8;
$orange-text-color: #ee6f2e;
