.pagination {
    padding: 20px;
    ul {
        display: flex;
        flex-wrap: wrap;
        margin: 40px;
        li {
            margin: 4px;
            a {
                color: $grey;
                &:hover {
                    color: $orange-text-color;
                }
            }
            &.active a {
                color: $orange-text-color;
            }
        }
    }
}
